# os
# {
    .DS_STORE
    Thumbs.db
# }

# backups
# {
    *.bu
    *.old
# }

# languages
# {
    # python
    # {
        *.pyc
    # }
# }

# vim {
    [._]*.s[a-w][a-z]
    [._]s[a-w][a-z]
    *.un~
    Session.vim
    .netrwhist
# }


